@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1580px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 150px;
  }
}
.header nav {
  display: flex;
  gap: 88px;
}
@media screen and (max-width: 425px) {
  .header nav {
    display: none;
  }
}
.header nav a {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.header nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header nav a {
    font-size: 16px;
  }
}
.header__menu {
  width: 50px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 425px) {
  .header__menu {
    display: inline;
  }
}

.swipper {
  margin: 0 auto;
  max-width: 798px;
}
.swipper h2 {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 72px;
  font-weight: 700;
  color: purple;
  margin: 0;
  margin-bottom: 26px;
}
@media screen and (max-width: 375px) {
  .swipper h2 {
    font-size: 66px;
  }
}
@media screen and (max-width: 375px) and (max-width: 320px) {
  .swipper h2 {
    font-size: 56px;
  }
}

.swiper-slide h3 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 400;
  color: purple;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}

.swiper-slide p {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: purple;
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
}

.swiper-buttons {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.button-prev-swp,
.button-next-swp {
  cursor: pointer;
}

.hero {
  background: url(../assets/images/hero-img.png) center;
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .hero {
    background-size: cover;
  }
}
.hero__content {
  padding-top: 12%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .hero__content {
    padding-top: 20%;
  }
}
@media screen and (max-width: 425px) {
  .hero__content {
    padding-top: 40%;
  }
}
.hero__titles h3, .hero__titles h1, .hero__titles h2 {
  margin: 0;
}
.hero__titles h3 {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.hero__titles h1 {
  font-family: "Times New Roman";
  font-size: 154px;
  font-weight: 700;
  color: #fff;
  line-height: 70%;
}
.hero__titles h2 {
  font-family: "Times New Roman";
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 15px;
}
@media screen and (max-width: 1024px) {
  .hero__titles h3 {
    font-size: 40px;
  }
  .hero__titles h1 {
    font-size: 130px;
  }
  .hero__titles h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .hero__titles h3 {
    font-size: 20px;
  }
  .hero__titles h1 {
    font-size: 80px;
  }
  .hero__titles h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  .hero__titles h1 {
    font-size: 60px;
  }
}
.hero__description {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .hero__description {
    font-size: 14px;
  }
}
.hero button {
  background: #E0B973;
  padding: 24px 32px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.hero__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.hero__scroll img {
  max-width: 60px;
}

.facilities-hero {
  background: url(../assets/images/facilities-banner.png) center;
  background-size: 100%;
}

.rooms__description {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 400;
  color: #14274A;
  text-align: center;
}
.rooms__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.rooms__info {
  width: 40%;
  border-left: 2px solid #14274A;
  padding-left: 48px;
}
.rooms__info h2 {
  font-family: "Times New Roman";
  font-size: 60px;
  font-weight: 700;
  color: #14274A;
  margin-top: 0;
}
.rooms__info p {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #14274A;
}
.rooms__info button {
  background: #E0B973;
  border: none;
  padding: 18px 65px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.rooms__img {
  width: 50%;
}
.rooms__img img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

.us p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat";
  color: white;
  font-weight: 700;
  font-size: 80px;
  line-height: 97.52px;
}

.banner {
  height: 400px;
  background-color: #14274A;
}

.container {
  margin: 0 auto;
}

.about h3 {
  font-family: "Times New Roman";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.about p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.about {
  display: inline;
  justify-content: center;
  margin-top: 130px;
  width: 1200px;
  margin-left: 100px;
}

.local {
  margin-left: 112px;
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.we {
  display: flex;
  justify-content: center;
}

.map {
  display: flex;
  align-items: center;
}
.map img {
  width: 100px;
  height: 29px;
}

.adress p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 8.76px;
  text-align: left;
}

.adress h4 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.info input {
  width: 470px;
  height: 50px;
}

.info {
  margin-left: 180px;
}

.info p {
  font-family: "Arial";
}

.mess p {
  font-family: "Arial";
}

.mess input {
  height: 180px;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.submit button {
  margin-top: 15px;
  background: #E0B973;
  border: none;
  padding: 18px 25px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
=======
  margin-top: 20px;
  height: 40px;
  width: 110px;
  margin-right: 20px;
  background-color: orange;
  color: white;
  border: none;
  font-family: "Arial";

}

.word p {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: -200px;
  font-size: 70px;
  font-family: "Montserrat";
}/*# sourceMappingURL=index.css.map */