@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1605px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: absolute;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 150px;
  }
}
.header nav {
  display: flex;
  gap: 88px;
}
@media screen and (max-width: 425px) {
  .header nav {
    display: none;
  }
}
.header nav a {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.header nav a:hover {
  font-weight: 700;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header nav a {
    font-size: 16px;
  }
}
.header__menu {
  width: 50px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 425px) {
  .header__menu {
    display: inline;
  }
}

.swipper {
  margin: 0 auto;
  max-width: 798px;
}
.swipper h2 {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman";
  font-weight: 700;
  color: #14274a;
  font-size: 72px;
  margin: 0;
  margin-bottom: 26px;
}
@media screen and (max-width: 375px) {
  .swipper h2 {
    font-size: 66px;
  }
}
@media screen and (max-width: 375px) and (max-width: 320px) {
  .swipper h2 {
    font-size: 56px;
  }
}

.swiper-slide h3 {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  color: #14274a;
  font-size: 36px;
  margin: 0;
  margin-bottom: 19px;
}

.swiper-slide p {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  color: #14274a;
  font-size: 25px;
  margin: 0;
  margin-bottom: 23px;
}

.swiper-buttons {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.button-prev-swp,
.button-next-swp {
  cursor: pointer;
}

.hero {
  background: url(../assets/images/hero-img.png) center;
  background-size: 100%;
}
@media screen and (max-width: 1024px) {
  .hero {
    background-size: cover;
  }
}
.hero__content {
  padding-top: 12%;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .hero__content {
    padding-top: 20%;
  }
}
@media screen and (max-width: 425px) {
  .hero__content {
    padding-top: 40%;
  }
}
.hero__titles h3,
.hero__titles h1,
.hero__titles h2 {
  margin: 0;
}
.hero__titles h3 {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.hero__titles h1 {
  font-family: "Times New Roman";
  font-size: 154px;
  font-weight: 700;
  color: #fff;
  line-height: 70%;
}
.hero__titles h2 {
  font-family: "Times New Roman";
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 15px;
}
@media screen and (max-width: 1024px) {
  .hero__titles h3 {
    font-size: 40px;
  }
  .hero__titles h1 {
    font-size: 130px;
  }
  .hero__titles h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .hero__titles h3 {
    font-size: 20px;
  }
  .hero__titles h1 {
    font-size: 80px;
  }
  .hero__titles h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  .hero__titles h1 {
    font-size: 60px;
  }
}
.hero__description {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .hero__description {
    font-size: 14px;
  }
}
.hero button {
  background: #e0b973;
  padding: 24px 32px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.hero__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.hero__scroll img {
  max-width: 60px;
}

.hero.room-page {
  background: url(/assets/images/hero-img-room.png) center;
  background-size: 100%;
}

.rooms__description {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 400;
  color: #14274A;
  text-align: center;
}
.rooms__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.rooms__info {
  width: 40%;
  border-left: 2px solid #14274A;
  padding-left: 48px;
}
.rooms__info h2 {
  font-family: "Times New Roman";
  font-size: 60px;
  font-weight: 700;
  color: #14274A;
  margin-top: 0;
}
.rooms__info p {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 400;
  color: #14274A;
}
.rooms__info button {
  background: #E0B973;
  border: none;
  padding: 18px 65px;
  border-radius: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.rooms__img {
  width: 50%;
}
.rooms__img img {
  max-width: 100%;
}

.room-desc__content {
  text-align: center;
}
.room-desc__content h2 {
  line-height: 72px;
  letter-spacing: 0.05em;
  margin-top: 81px;
  margin-bottom: 0;
  font-family: "Times New Roman";
  font-size: 60px;
  font-weight: 700;
  color: #14274a;
  letter-spacing: 15px;
}
.room-desc__content p {
  color: #14274a;
  font-size: 25px;
  margin: 29px 0;
}

.single-room {
  margin-top: 82px;
}
.single-room__content {
  border: 3px solid #14274a;
  width: 1565px;
}
.single-room__content .single__img {
  width: 1565px;
}
.single-room__content h2 {
  text-align: center;
  background-color: #14274a;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.14px;
  margin: 0;
}
.single-room__content .dropdown-menu .main-menu {
  display: flex;
  justify-content: center;
  gap: 614px;
  margin: 108px 0 98px 0;
}
.single-room__content .dropdown-menu .main-menu .menu-btn {
  display: flex;
  gap: 40px;
}
.single-room__content .dropdown-menu .main-menu h3 {
  font-weight: 700;
  font-size: 25px;
  color: #14274a;
}
.single-room__content .dropdown-menu .price {
  background: #e0b973;
  padding: 24px 32px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.single-room__content .dropdown-menu .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}
.single-room__content .dropdown-menu .menu .short-info-menu {
  display: flex;
  gap: 249px;
  border-top: 3px solid #14274a;
}
.single-room__content .dropdown-menu .menu .short-info-menu p,
.single-room__content .dropdown-menu .menu .short-info-menu ul {
  color: #14274a;
  font-size: 25px;
  font-weight: 700;
}
.single-room__content .dropdown-menu .menu .short-info-menu ul {
  font-weight: 400;
  list-style: none;
}
.single-room__content .dropdown-menu .menu .short-info-menu ul li {
  text-align: left;
}
.single-room__content .dropdown-menu .menu .big-info-menu {
  display: flex;
  border-top: 3px solid #14274a;
  margin-top: 30px;
}
.single-room__content .dropdown-menu .menu .big-info-menu p {
  color: #14274a;
  font-size: 25px;
  width: 420px;
}
.single-room__content .dropdown-menu .menu-open {
  display: flex;
}
.single-room__content .dropdown-menu .main-menu-clicked {
  box-shadow: 0 0 0.8em #14274a;
}

.double-room {
  margin-top: 82px;
}
.double-room__content {
  border: 3px solid #14274a;
}
.double-room__content .double-img {
  width: 1565px;
  height: 962px;
}
.double-room__content h2 {
  text-align: center;
  background-color: #14274a;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.14px;
  margin: 0;
}
.double-room__content .swiper-pagination-bullet-active-main {
  --swiper-theme-color:black;
}
.double-room__content .swiper-pagination-bullet {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: solid black;
  border-radius: 50%;
  border-width: 2px;
}
.double-room__content .dropdown-menu .main-menu {
  display: flex;
  justify-content: center;
  gap: 614px;
  margin: 108px 0 98px 0;
}
.double-room__content .dropdown-menu .main-menu .menu-btn {
  display: flex;
  gap: 40px;
}
.double-room__content .dropdown-menu .main-menu h3 {
  font-weight: 700;
  font-size: 25px;
  color: #14274a;
}
.double-room__content .dropdown-menu .price {
  background: #e0b973;
  padding: 24px 32px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.double-room__content .dropdown-menu .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}
.double-room__content .dropdown-menu .menu .short-info-menu {
  display: flex;
  gap: 249px;
  border-top: 3px solid #14274a;
}
.double-room__content .dropdown-menu .menu .short-info-menu p,
.double-room__content .dropdown-menu .menu .short-info-menu ul {
  color: #14274a;
  font-size: 25px;
  font-weight: 700;
}
.double-room__content .dropdown-menu .menu .short-info-menu ul {
  font-weight: 400;
  list-style: none;
}
.double-room__content .dropdown-menu .menu .short-info-menu ul li {
  text-align: left;
}
.double-room__content .dropdown-menu .menu .big-info-menu {
  display: flex;
  border-top: 3px solid #14274a;
  margin-top: 30px;
}
.double-room__content .dropdown-menu .menu .big-info-menu p {
  color: #14274a;
  font-size: 25px;
  width: 420px;
}
.double-room__content .dropdown-menu .menu-open {
  display: flex;
}
.double-room__content .dropdown-menu .main-menu-clicked {
  box-shadow: 0 0 0.8em #14274a;
}

.twin-room {
  margin-top: 82px;
}
.twin-room__content {
  border: 3px solid #14274a;
}
.twin-room__content .double-img {
  width: 1565px;
  height: 962px;
}
.twin-room__content .swiper-pagination-bullet-active-main {
  --swiper-theme-color:black;
}
.twin-room__content .swiper-pagination-bullet {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: solid black;
  border-radius: 50%;
  border-width: 2px;
}
.twin-room__content h2 {
  text-align: center;
  background-color: #14274a;
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 73.14px;
  margin: 0;
}
.twin-room__content .dropdown-menu .main-menu {
  display: flex;
  justify-content: center;
  gap: 614px;
  margin: 108px 0 98px 0;
}
.twin-room__content .dropdown-menu .main-menu .menu-btn {
  display: flex;
  gap: 40px;
}
.twin-room__content .dropdown-menu .main-menu h3 {
  font-weight: 700;
  font-size: 25px;
  color: #14274a;
}
.twin-room__content .dropdown-menu .price {
  background: #e0b973;
  padding: 24px 32px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.twin-room__content .dropdown-menu .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: none;
}
.twin-room__content .dropdown-menu .menu .short-info-menu {
  display: flex;
  gap: 249px;
  border-top: 3px solid #14274a;
}
.twin-room__content .dropdown-menu .menu .short-info-menu p,
.twin-room__content .dropdown-menu .menu .short-info-menu ul {
  color: #14274a;
  font-size: 25px;
  font-weight: 700;
}
.twin-room__content .dropdown-menu .menu .short-info-menu ul {
  font-weight: 400;
  list-style: none;
}
.twin-room__content .dropdown-menu .menu .short-info-menu ul li {
  text-align: left;
}
.twin-room__content .dropdown-menu .menu .big-info-menu {
  display: flex;
  border-top: 3px solid #14274a;
  margin-top: 30px;
}
.twin-room__content .dropdown-menu .menu .big-info-menu p {
  color: #14274a;
  font-size: 25px;
  width: 420px;
}
.twin-room__content .dropdown-menu .menu-open {
  display: flex;
}
.twin-room__content .dropdown-menu .main-menu-clicked {
  box-shadow: 0 0 0.8em #14274a;
}/*# sourceMappingURL=index.css.map */