
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.container{
margin: 0 auto;

}

.us p{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
font-family: 'Montserrat';
color: white;
font-weight: 700;
font-size: 80px;
line-height: 97.52px

}

.banner{

    // padding-top: 350px;
    height: 400px;
    background-color: #14274A;
    
}

