.container{
    margin: 0 auto;
    
    }

.nav{
display: flex;
justify-content: space-around;  
align-items: center;
// height: 240px;
margin-top: 270px;
height: 100%;
}

.nav p,span  {
color: white;
font-family: "Montserrat";
}

.footerSection{
    background-color: #14274A; 
    height: 260px;
 

}

.social{

}

.pages a{
display: flex;
align-items: center;

}

a:hover {
    font-weight: 700;
    text-decoration: underline;
    
}

.pages img{
margin-right: 15px;    
width: 18   px;
height: 18px;

}

.email input{
color: orange;
background-color: #14274A;
height: 40px;
width: 190px;
color: white;
}



button{
background-color: orange;
color: white;
height: 47px;
width: 60px;
border: none;
}

.block {
    display: grid;
    gap: 18px;

    @media screen and (max-width: 425px) {
        display: none;
    }

    a {
        @include fontStyles(20px, 400, $text-white);

        &:hover {
            font-weight: 700;
            text-decoration: underline;
        }

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}