.features {
    text-align: center;
    &__info {
        p {
            line-height: 30px;
            @include fontStyles(24px, 400, $text-purple,'Montserrat');
        }
        h2 {
            @include fontStyles(60px, 700, $text-purple,'Times New Roman');
        }
    }
    &__content {    
        img {
            width: 100%;
        }
        .other {
            margin-top: 186px;
        }
        .gym {  
          background: url(../assets/images/facilities-gym.png);
          height: 1052px;
          width: 1500px;
          margin-top: 83px;
        }
        .box {
            background: #fff;
            height: 75px;
            width: 684px;
            
        }
        p{
            @include fontStyles(60px, 700, $text-purple,'Times New Roman');
            text-align: center;
        }
        
    }
}