.features {
    text-align: center;
    
    &__info {
        p {
            font-family: "Montserrat";
            color: #14274A;
            line-height: 30px;
            font-weight: 400;
            font-size: 24px;
        }
        h2 {
            color: #14274A;
            font-weight: 700;
            font-size: 60px;
        }

    }
    &__content {
        img {
            width: 100%;
        }
        .non {
            
            margin-top: 186px;
        }
        .nan {
            
            margin-top: 83px;
        }
    }
}