.room-desc {
  &__content {
    text-align: center;

    h2 {
      line-height: 72px;
      letter-spacing: 0.05em;
      margin: 81px 0 0 0;

      @include fontStyles(60px, 700, $text-purple);
      @media screen and (max-width: 425px) {
        @include fontStyles(28px, 700, $text-purple);
      }
    }

    p {
      @include fontStyles(25px, 570, $text-purple);
      margin: 29px 0;
      @media screen and (max-width: 425px) {
        @include fontStyles(16px, 570, $text-purple);
      }
    }
  }
}
