.swipper {
	margin: 0 auto;
	max-width: 798px;
	h2 {
    text-align: center;
		@include fontStyles(72px, 700, purple, 'Times New Roman');
		margin: 0;
		margin-bottom: 26px;
		@media screen and (max-width: 375px) {
			font-size: 66px;
			@media screen and (max-width: 320px) {
				font-size: 56px;
			}
		}
	}
}

.swiper-slide h3 {
  @include fontStyles(36px, 400, purple);
	text-align: center;
	margin: 0;
	margin-bottom: 19px;
}
.swiper-slide p {
  @include fontStyles(25px, 400, purple);
	text-align: center;
	margin: 0;
	margin-bottom: 23px;
}
.swiper-buttons {
	display: flex;
	justify-content: center;
	gap: 21px;
}
.button-prev-swp,
.button-next-swp {
	cursor: pointer;
}
